<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.gu.user.mapper.PersonalMapper">

    <select id="SearchUserById" resultType="cdu.gu.entity.User">
        select id, user_id, username, password, salt, phone, email, avatar, create_time
        from office.user
        where id = #{id}
    </select>
</mapper>